header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-menu-list {
    display: flex;
    column-gap: 60px;
}

.header-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}