.banners {
    background-color: #D9D9D9;
    padding: 90px 0;
}

.banners__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__item {
    border: thin solid #C4C4C4;
    width: 255px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}