.footer {
    background-color: var(--color-dark-gray);
    padding: 28px 0;
}

.footer__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link__items {
    display: flex;
    align-items: center;
    column-gap: 30px;
}