.header {
    padding-block: 28px;
    border: solid 1px #ddd;
}

.header__wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header__menu {
    margin-left: auto;
    margin-right: 60px;
}

.header__menu-list {
    display: flex;
    column-gap: 60px;
}

.header__menu-link {
    font-size: 20px;
    font-weight: 400;
}

.header__logo-img {
    width: 140px;
    height: 23px;
}

.header__controls {
    display: flex;
    gap: 30px;
}

.header__book-button.button {
    width: 24px;
    height: 24px;
}